body,
html {
  background: white;
  font-family: "Karla", sans-serif;
  margin: auto;
  padding: auto;
  box-sizing: border-box; }

.container {
  background: #39b187;
  padding-top: 1px;
  padding-bottom: 25px;
  padding-left: 20px;
  height: 8vh; }
  .container h1 {
    color: white; }

#btnAdd {
  background: #71c3ca;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding: 10px 15px;
  margin: 20px 20px;
  border: 1px solid #71c3ca;
  border-radius: 5px; }
  #btnAdd:hover {
    background: #39b187;
    color: white;
    border-color: #39b187;
    cursor: pointer; }

.hidden-container {
  visibility: hidden;
  position: absolute;
  top: 100px;
  left: 450px; }

#entryForm {
  display: flex;
  justify-content: center;
  margin: auto; }
  #entryForm .form-container {
    background: white;
    color: #454545;
    padding: 10px 40px 20px;
    width: 350px;
    height: 410px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    position: relative; }
    #entryForm .form-container h2 {
      text-align: center;
      color: #454545; }
    #entryForm .form-container .entry-input, #entryForm .form-container .entry-label {
      display: block; }
    #entryForm .form-container .entry-label {
      font-weight: 500; }
    #entryForm .form-container .entry-input {
      margin-top: 5px;
      margin-bottom: 10px;
      padding: 2px 5px;
      border: 1.5px solid #dbdbdb;
      border-radius: 5px;
      width: 100%;
      font-family: "Karla", sans-serif;
      font-size: 1rem;
      line-height: 36px;
      box-sizing: border-box; }
    #entryForm .form-container #book-status {
      padding: 2px 5px;
      font-size: 1rem; }
    #entryForm .form-container .entry-save {
      position: absolute;
      right: 40px; }
      #entryForm .form-container .entry-save .add-book-btn, #entryForm .form-container .entry-save .closeBtn {
        background: #71c3ca;
        border: 1px solid #71c3ca;
        border-radius: 5px;
        color: white;
        padding: 10px 25px;
        margin: 13px auto; }
        #entryForm .form-container .entry-save .add-book-btn:hover, #entryForm .form-container .entry-save .closeBtn:hover {
          background: #39b187;
          color: white;
          border-color: #39b187;
          cursor: pointer; }
      #entryForm .form-container .entry-save .closeBtn {
        background: #dbdbdb;
        border: 0;
        color: #454545; }
        #entryForm .form-container .entry-save .closeBtn:hover {
          background: #ff6161; }

.main-container {
  max-width: 100%;
  width: 950px;
  margin: auto;
  padding: 20px; }
  .main-container .table {
    width: 100%;
    border-spacing: 1;
    border-collapse: collapse;
    background: #f6f6f6;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
    .main-container .table thead {
      background: #39b187;
      color: white;
      height: 40px; }
