body,
html {
  background: #000c14;
  font-family: "Raleway", sans-serif;
  margin: auto;
  padding: auto;
  box-sizing: border-box; }

.container {
  background: #212f39;
  padding-top: 2px;
  padding-bottom: 25px;
  padding-left: 20px;
  height: 8vh; }
  .container h1 {
    color: white; }

#btnAdd {
  background: #212f39;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding: 10px 15px;
  margin: 20px 20px;
  border: 1px solid #8ea9ba;
  border-radius: 5px; }
  #btnAdd:hover {
    background: #8ea9ba;
    color: white;
    border-color: #8ea9ba;
    cursor: pointer; }

#entryForm {
  display: flex;
  justify-content: center;
  margin: auto; }
  #entryForm .form-container {
    background: #8ea9ba;
    color: #000c14;
    padding: 10px 25px;
    width: 450px;
    border: 1px solid #8ea9ba;
    border-radius: 8px;
    position: relative; }
    #entryForm .form-container h2 {
      text-align: center; }
    #entryForm .form-container .entry-input, #entryForm .form-container .entry-label {
      display: block; }
    #entryForm .form-container .entry-label {
      font-weight: 500; }
    #entryForm .form-container .entry-input {
      margin: 10px auto;
      padding: 3px 5px;
      border: 1px solid #212f39;
      border-radius: 5px;
      width: 100%;
      font-family: "Raleway", sans-serif;
      font-size: 1.1rem;
      line-height: 36px;
      box-sizing: border-box; }
    #entryForm .form-container .add-book-btn {
      background: #212f39;
      border: 1px solid #212f39;
      border-radius: 5px;
      color: white;
      padding: 10px 25px;
      margin: 13px auto; }
